/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.mat-tab-body-content, .mat-tab-body, .mat-tab-body-wrapper { 
    transition: none !important;
    transform: none !important; 
    animation-duration: 0ms !important;

  }
  ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    padding: 3px!important;
    margin: 3px !important;

    }
.mat-tab-group {
    margin-bottom: 48px;
}
::ng-deep.mat-ripple-element{
    width:0px !important;

}
::ng-deep.mat-tab-link, ::ng-deep.mat-focus-indicator, ::ng-deep.mat-tab-label-active{
    min-width: 10% !important;
}*/